:root {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  --Grayish-Black: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
  --brd-radius: 10px;
}

.top-container,
.attribution {
  flex: 0 0 auto;
}

#map {
  flex: 1 1 70vh;
  position: relative;
}

#map .loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.top-container {
  background: url('./images/pattern-bg-desktop.png');
  padding: 5vh 5% 100px;
  position: relative;
}

.main-heading {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

.form {
  width: min-content;
  margin: 5vh auto;
  border-radius: var(--brd-radius);
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.input {
  box-sizing: border-box;
  padding: 1rem;
  width: min(500px, 80vw);
  border: none;
  font-size: 0.9rem;
}
.input:focus {
 outline: none;
}

.submit-btn {
  flex: 0 0 15%;
  background: var(--Grayish-Black) url('images/icon-arrow.svg') no-repeat center;
  cursor: pointer;
  border: none;
}

.submit-btn:hover {
  background: var(--Dark-Gray) url('images/icon-arrow.svg') no-repeat center;
}
.user-data-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  max-width: 70vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  transform: translateY(50%);
  background: white;
  z-index: 500;
  border-radius: var(--brd-radius);
}

.user-data-item {
  flex: 0 1 25%;
  padding: 5% 2vw;
  position: relative;
}

.user-data-item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 60%;
  background: var(--Dark-Gray);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.user-data-item .data-term {
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
.user-data-item .data-term,
.input::placeholder {
  color: var(--Dark-Gray);
}

.user-data-item .data-value {
  padding-top: 10px;
  margin-left: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--Grayish-Black);
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .top-container {
    background: url('./images/pattern-bg-mobile.png');
    height: 170px;
   padding-top: 20px;
  }
  .main-heading {
    font-size: 25px;
    font-weight: 400;
  }
  .user-data-list {
    position: absolute;
    flex-direction: column;
    text-align: center;
    z-index: 999;
    top: 0;
    max-width: 60vw;
    padding:10px 40px;
    height: 240px;
  }
  .user-data-item {
    padding: 5px;
  }
  .user-data-list div .data-term {
    padding: 3px;
    font-size: 10px;
  }
  .user-data-list div .data-value {
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 16px;
  }
}